---
services:
  myuplink:
    build: .
    image: jryberg/myuplink_prometheus_exporter:latest
    container_name: myuplink
    restart: unless-stopped
    environment:
      - client_id=${CLIENT_ID}
      - client_secret=${CLIENT_SECRET}
      - port=8000
      - debug=False
    ports:
      - 8000:8000
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nosuid,size=10m
